<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c8a2aa8d-1a34-44ec-b432-2a9164b165e3" Publisher="CN=Katie" Version="1.0.0.0" />
  <Properties>
    <DisplayName>GameTheory.Games.FiveTribes</DisplayName>
    <PublisherDisplayName>Katie</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GameTheory.Games.FiveTribes.App">
      <VisualElements DisplayName="Five Tribes" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="GameTheory.Games.FiveTribes" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>